<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
  
	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>servlets.Accueil</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PollCreation</servlet-name>
		<servlet-class>servlets.PollForm</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PollCreation</servlet-name>
		<url-pattern>/poll/create</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>servlets.InscriptionForm</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.LoginForm</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>servlets.Profile</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Disconnect</servlet-name>
		<servlet-class>servlets.Disconnect</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Disconnect</servlet-name>
		<url-pattern>/disconnect</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>pollDisplayer</servlet-name>
		<servlet-class>servlets.PollDisplayer</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>pollDisplayer</servlet-name>
		<url-pattern>/poll/get</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>answerPoll</servlet-name>
		<servlet-class>servlets.AnswerPoll</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>answerPoll</servlet-name>
		<url-pattern>/answerPoll</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletePoll</servlet-name>
		<servlet-class>servlets.DeletePoll</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>deletePoll</servlet-name>
		<url-pattern>/poll/delete</url-pattern>
	</servlet-mapping>
	
	<security-constraint>
    <display-name>Restrict direct access to certain folders</display-name>
    <web-resource-collection>
        <web-resource-name>Restricted folders</web-resource-name>
        <url-pattern>/answer</url-pattern>
    </web-resource-collection>
    <auth-constraint />
	</security-constraint>
	
</web-app>