<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
  
	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>servlets.Accueil</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PollCreation</servlet-name>
		<servlet-class>servlets.PollForm</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PollCreation</servlet-name>
		<url-pattern>/poll/create</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>servlets.InscriptionForm</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.LoginForm</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Polls</servlet-name>
		<servlet-class>servlets.pollsPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Polls</servlet-name>
		<url-pattern>/polls</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Disconnect</servlet-name>
		<servlet-class>servlets.Disconnect</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Disconnect</servlet-name>
		<url-pattern>/disconnect</url-pattern>
	</servlet-mapping>
	
</web-app>